* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title
{
    font-size: 48px;
    color: black;
}

.left-side
{
    height: 100vh;
    width: 100%;
    background-image: url(./screens/imgs/IMG_6592.JPG);
    background-size: cover;
    background-size: 100% 100%;
    
}
.right-side
{
    height: 100vh;
    width: 100%;
    position: relative;
}
.content
{
    position: absolute;
    top: 52%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 610px;
    padding: 1px 1px 18px 1px ;
    box-shadow: 10px 10px 60px rgb(216, 215, 215);
    border-radius: 25px;
}

.form-control
{
    display: block;
    width: 100%;
    border-color: #222;
    color: #222;
}
.form-select
{
    border: 1px solid black;
    width: 240px;
}

.logo img
{
    position: absolute;
    height: 13%;
    top: 2.5%;
    left: 39%;
    border-radius: 5%;
}

.logo2 img
{
    height: 22%;
    position: absolute;
    bottom: 0;
    right: 0;
}

body
{
    font-family: "Open Sans";
}

.form-container1
{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 410px;
    padding: 40px 30px;
    box-shadow: 10px 10px 60px rgb(216, 215, 215);
    border-radius: 12px;
}

.control input
{
    display: block;
    color: #222;
    border-color: #222;
}

.form-container
{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 460px;
    padding: 45px 30px;
    box-shadow: 10px 10px 60px rgb(216, 215, 215);
    border-radius: 12px;
}

h1
{
    font-size: 37px;
}
p
{
    padding-left: 5px;
}

:root {
    --second-text-color: #bbbec5;
}

.second-text {
    color: var(--second-text-color);
}

#wrapper {
    overflow-x: hidden;
    background-image: url(./screens/imgs/IMG_6625.jpg);
    background-size: cover;
    background-position: center center;
    background-size: 100% 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-logo img {
    width: 240px;
    height: 130px;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    font-weight: bold;
    border: none;
}


#page-content-wrapper {
    position: relative;
}

.Head-Table {
    position: absolute;
    top: 33%;
    right: 2px;
}

.Upload {
    position: absolute;
    left: 35%;
    top: 18%;
}

input[type="file"] {
    display: none;
}

.Upload label {
  color: white;
  font-size: 25px;
  height: 63px;
  width: 270px;
  background-color:#f5af09 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Upload button {
  position: absolute;
  top: 115%;
  left: 37%;
  border-radius: 50px;
  color: black;
  background-color:#f5af09;
  border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.waiting {
    height: 100vh;
   
}

.waitingText {
    font-size: xx-large;
    margin-top: 10%;
}

/*  */

:root 
{
  --second-text-color: #bbbec5;
}

.second-text {
  color: var(--second-text-color);
}

#wrapper {
  overflow-x: hidden;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
} 

#sidebar-wrapper7 
{
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper7 .sidebar-logo img
{
  width: 240px;
  height: 130px;
}

#sidebar-wrapper7 .list-group 
{
  width: 15rem;
}

#page-content-wrapper 
{
  min-width: 100vw;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
}

#wrapper.toggled #sidebar-wrapper7 
{
  margin-left: 0;
}

#menu-toggle 
{
  cursor: pointer;
}

.list-group-item 
{
  border: none;
  padding: 20px 30px;
}

.list-group-item.active 
{
  background-color: transparent;
  font-weight: bold;
  border: none;
}

#page-content-wrapper
{
  position: relative;
}

.form-container7
{
    position: absolute;
    top: 53%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 61%;
    padding: 40px 30px 10px 30px;
    background-color: white;
    box-shadow: 10px 10px 60px rgb(16, 15, 15);
    border-radius: 12px;
}
.form-container7 .table
{
  font-size: 17px;
}

.form-container7 img
{
  width: 100px;
  position: absolute;
  top: 5%;
  left: 5%;
}

@media (min-width: 992px) 
{
  #sidebar-wrapper7 
  {
    margin-left: 0;
  }

  #page-content-wrapper 
  {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper7 
  {
    margin-left: -15rem;
  }

}

@media screen and (max-width: 760px)
{
  .form-container7
  {
    width: 450px;
    height: 560px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 50%;
  }
}

@media screen and (max-width: 1540px)
{
  #wrapper.toggled .form-container7 
  {
    width: 61%;
    position: absolute;
    left: 49%;
  }
}
:root 
{
  --second-text-color: #bbbec5;
}

.second-text {
  color: var(--second-text-color);
}

#wrapper {
  overflow-x: hidden;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
} 

#sidebar-wrapper 
{
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-logo img
{
  width: 240px;
  height: 130px;
}

#sidebar-wrapper .list-group 
{
  width: 15rem;
}

#page-content-wrapper 
{
  min-width: 100vw;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
}

#wrapper.toggled #sidebar-wrapper 
{
  margin-left: 0;
}

#menu-toggle 
{
  cursor: pointer;
}

.list-group-item 
{
  border: none;
  padding: 20px 30px;
}

.list-group-item.active 
{
  background-color: transparent;
  font-weight: bold;
  border: none;
}


#page-content-wrapper
{
  position: relative;
}
.Head1-Table
{
  position: absolute;
  top: 23%;
  right: 2px;
}

@media (min-width: 768px) 
{
  #sidebar-wrapper 
  {
    margin-left: 0;
  }

  #page-content-wrapper 
  {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper 
  {
    margin-left: -15rem;
  }
}
:root 
{
  --second-text-color: #bbbec5;
}

.second-text {
  color: var(--second-text-color);
}

#wrapper {
  overflow-x: hidden;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
} 

#sidebar-wrapper 
{
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-logo img
{
  width: 240px;
  height: 130px;
}

#sidebar-wrapper .list-group 
{
  width: 15rem;
}

#page-content-wrapper8 
{
  min-width: 100vw;
  background-image: url(./screens/imgs/IMG_6625.jpg);
  background-size: cover ;
  background-position: center center;
  background-size: 100% 100%;
}

#wrapper.toggled #sidebar-wrapper 
{
  margin-left: 0;
}

#menu-toggle 
{
  cursor: pointer;
}

.list-group-item 
{
  border: none;
  padding: 20px 30px;
}

.list-group-item.active 
{
  background-color: transparent;
  font-weight: bold;
  border: none;
}

#page-content-wrapper8
{
  position: relative;
}

.Head-Table8
{
  position: absolute;
  top: 42%;
  right: 2px;
}

.form-container8
{
    position: absolute;
    top: 29%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 43%;
    padding: 50px 30px 0px 30px;
    border-radius: 18px;
}
.form-container8 .table
{
  font-size: 14px;
}

.form-container8 img
{
  width: 70px;
  position: absolute;
  top: -4%;
  left: 40%;
}

@media (min-width: 992px) 
{
  #sidebar-wrapper 
  {
    margin-left: 0;
  }

  #page-content-wrapper8 
  {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper 
  {
    margin-left: -15rem;
  }
}

@media (max-width: 668px) 
{
  #page-content-wrapper8
  {
    overflow-x: scroll;
  }
  .Head-Table8
  {
    margin: 10px;
  }
  .form-container8
  {
    position: absolute;
    top: 30%;
  }
}

@media (max-width: 680px)
{
  .form-container8 img
  {
    position: absolute;
    left: 50%;
  }
}
@media (max-width: 580px)
{
  .form-container8 img
  {
    position: absolute;
    left: 58%;
  }
}
@media screen and (max-width: 1550px)
{
  #wrapper.toggled .form-container8
  {
    position: absolute;
    left: 48%;
    width: 39%;
  }
}  

@media screen  and (max-width:756px)
{
  .Upload
  {
    position: absolute;
    left: 29%;
  }
  .Upload label
  {
    color: white;
    font-size: 20px;
    height: 50px;
    width: 230px;
    background-color:#f5af09 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:560px) 
{
    .form-container
    {
        position: absolute;
        left: 51%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1120px)
{
    .content
    {
        position: absolute;
        top: 52%;
        left: 50%;
        width: 550px;
    }
    .row input
    {
        width: 225px;
    }
    .form-select
    {
        border: 1px solid black;
        width: 225px;
    }
}

@media screen and (max-width: 850px)
{
    .content
    {
        position: absolute;
        left: 51%;
    }   
}

@media screen and (max-width: 768px)
{   
    .content
    {   
        position: absolute;
        top: 49%;
        width: 460px;
        height: 650px;
    }
    .logo img
    {
        height: 0;
    }

    .form-control
    {
        margin-left: 100px;
    }
    .form-select
    {
        margin-left: 100px;
    }
}


.form-container9
{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 61%;
    padding: 40px 30px 10px 30px;
    background-color: white;
    box-shadow: 10px 10px 60px rgb(16, 15, 15);
    border-radius: 12px;
}
.form-container9 .table
{
  font-size: 17px;
}

.form-container9 img
{
  width: 100px;
  position: absolute;
  top: 5%;
  left: 5%;
}


@media screen and (max-width: 992px)
{
  .form-container9
{
  position: absolute;
  left: 50%;
}
}

@media screen and (max-width: 760px)
{
  .form-container9
  {
    width: 450px;
    height: 440px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 50%;
  }

  .form-control
  {
    width: 370px;
    margin-left: 35px;
  }
}

@media screen and (max-width: 1540px)
{
  #wrapper.toggled .form-container9 
  {
    width: 61%;
    position: absolute;
    left: 49%;
  }
}